---
import { getCollection } from "astro:content";
import BlogPostTemplate from "../../components/BlogPageTemplate/index.astro";

const posts = await getCollection("blog");
import Main from "../../layouts/Layout.astro";
---

<Main title="blog">
  <div class="w-full flex flex-col gap-y-12 mx-auto bg-black py-10  xl:pt-10 xl:pb-40 container-max-width">
    <div
      class="text-6xl sm:text-9xl font-semibold font-anton text-white  px-3 xl:px-16 w-full xl:w-3/6 text-left xl:pb-20 tracking-wide leading-snug xl:leading-none xl:whitespace-nowrap"
    >
      updates from our
      <span class="text-white/50">world</span>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 place-items-start gap-y-10 mx-auto sm:mx-3 xl:mx-16"
    >
      {
        posts.map((post) => (
          <div class="p-0 ">
            <BlogPostTemplate
              key={post.id}
              href={`/blog/${post.slug}`}
              title={post.data.title}
              genre={post.data.description}
              src={post.data.heroImage}
            />
          </div>
        ))
      }
    </div>
  </div>
</Main>
